# CoinGecko REST API endpoint for historical chart data
VITE_REST_API_URL=https://api.coingecko.com/api/v3

# (Optional override if needed) Binance WebSocket Stream URL for real-time mini-tickers
VITE_WS_API_URL=wss://stream.binance.com:9443/ws/!miniTicker@arr
